@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@font-face {
	font-family: "Conv";
	src: url("../fonts//GrandHotel-Regular.eot");
	src: local("☺"), url("../fonts//GrandHotel-Regular.woff") format("woff"), url("../fonts//GrandHotel-Regular.ttf") format("truetype"), url("../fonts//GrandHotel-Regular.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

aside,
nav,
footer,
header,
section {
	display: block;
}

html,
body {
	height: 100%;
	min-width: 320px;
}

body {
	line-height: 1;
	font-family: "Montserrat";
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: "Montserrat";
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

body {
	color: #000;
	font-size: 14px;
}
body.lock {
	overflow: hidden;
}

.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}
.form-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	margin: 0px -15px;
}

.form__column {
	padding: 0px 15px;
}

.btn {
	display: inline-block;
	padding: 0px 0px;
}
.btn.fw {
	width: 100%;
}

.select-block {
	position: relative;
}

.select__label {
	z-index: 2;
	position: absolute;
	top: -8px;
	background-color: #f7f7f7;
	padding: 0 5px;
	color: #979797;
	font-weight: 600;
	font-size: 13px;
	line-height: 16px;
	left: 20px;
}

.select {
	position: relative;
	cursor: pointer;
}
.select .select-title {
	z-index: 1;
	width: 100%;
	height: 55px;
	border: 1px solid #dedede;
	position: relative;
	background-color: #fff;
}
.select .select-title__arrow {
	position: absolute;
	top: 0;
	right: 0px;
	width: 45px;
	height: 100%;
	background: url("../img/icons/select-arrow.svg") center no-repeat;
}
.select .select-title__value {
	color: #000;
	font-weight: 700;
	font-size: 18px;
	line-height: 53px;
	display: block;
	overflow: hidden;
	padding: 0 45px 0 25px;
	white-space: nowrap;
	text-transform: none;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}
.select .select-options {
	position: absolute;
	z-index: 10;
	top: 54px;
	display: none;
	overflow: hidden;
	min-width: 100%;
	background-color: #fff;
	border: 1px solid #dedede;
	padding: 10px 20px 10px 25px;
}
.select .select-options-scroll {
	max-height: 80px;
	overflow: auto;
}
.select .select-options-list {
	padding: 0px 0px 0px 0px;
}
.select .select-options__value {
	color: #000;
	font-size: 20px;
	margin: 0px 0px 15px 0px;
}
.select .select-options__value:last-child {
	margin: 0px 0px 0px 0px;
}
.select .select-options__value:hover {
	color: #000;
}

input[type=text], input[type=email], input[type=tel], textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.input {
	border-radius: 0 !important;
	width: 100%;
	display: block;
	padding: 0px 20px;
}
textarea.input {
	resize: none;
	padding: 0px 0px;
}

.check {
	position: relative;
	padding-left: 25px;
	color: #5f5f5f;
	line-height: 18px;
	cursor: pointer;
}
.check input {
	display: none;
}
.check:before {
	content: "";
	left: 0;
	top: 0;
	width: 18px;
	height: 18px;
	border: 1px solid #a3a3a3;
	position: absolute;
}
.check.active:before {
	background: url("../img/icons/check.png") center no-repeat;
}

.option {
	position: relative;
	cursor: pointer;
	padding-left: 25px;
	line-height: 16px;
	margin-bottom: 10px;
	font-size: 15px;
	font-weight: 300;
}
.option:last-child {
	margin-bottom: 0px;
}
.option input {
	display: none;
}
.option:before {
	position: absolute;
	left: 0;
	top: 0;
	width: 16px;
	height: 16px;
	content: "";
	border: 1px solid #7f7f7f;
	border-radius: 50%;
}
.option.active:before {
	background: url("../img/icons/option.png") center no-repeat;
}

.rating-block {
	display: table;
	font-size: 0;
}

.rating {
	display: inline-block;
	position: relative;
	vertical-align: middle;
}
.rating.edit .star {
	cursor: pointer;
}
.rating .star {
	width: 17px;
	height: 14px;
	display: inline-block;
	position: relative;
	z-index: 3;
}

.rating__line {
	position: absolute;
	width: 85px;
	height: 14px;
	top: 0;
	left: 0;
	background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
	z-index: 1;
	background-size: 85px 100%;
}

.rating__activeline {
	position: absolute;
	width: 0px;
	height: 14px;
	top: 0;
	left: 0;
	background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
	z-index: 2;
	background-size: 85px 100%;
}

.rating__value {
	display: inline-block;
	color: #1b3139;
	font-size: 14px;
	line-height: 13px;
	vertical-align: middle;
}

.quantity {
	position: relative;
	width: 73px;
	height: 47px;
	border: 1px solid #cfcfcf;
	background-color: #ffffff;
}

.quantity__input {
	height: 45px;
	width: 50px;
	text-align: center;
	color: #101010;
	font-weight: 300;
}

.quantity__btn {
	position: absolute;
	top: 11px;
	right: 15px;
	cursor: pointer;
}
.quantity__btn:before {
	font-size: 25px;
	display: inline-block;
	line-height: 10px;
	color: #a9a9a9;
}
.quantity__btn:hover:before {
	color: #da0005;
}
.quantity__btn.dwn {
	top: 25px;
}

.category-params-item-price-table {
	margin-bottom: 25px;
}
.category-params-item-price-table .cell:first-child {
	padding-right: 15px;
	position: relative;
}
.category-params-item-price-table .cell:first-child:after {
	content: "-";
	position: absolute;
	right: -4px;
	top: 8px;
	font-size: 20px;
}
.category-params-item-price-table .cell:last-child {
	padding-left: 15px;
}
.category-params-item-price-table .cell input {
	height: 37px;
	border: 2px solid #393939;
	background-color: #ffffff;
	text-align: center;
	font-size: 12px;
	color: #393939;
	font-weight: 500;
	width: 100%;
}

.category-params-item-price-range {
	margin: 0 12px 40px 12px;
	background-color: #c9cecf;
	height: 2px;
	position: relative;
}
.category-params-item-price-range .ui-slider-range {
	background-color: #000;
	height: 2px;
	position: relative;
}
.category-params-item-price-range .ui-slider-handle {
	width: 23px;
	height: 28px;
	border: 3px solid #fbfbfb;
	background-color: #ea5922;
	display: block;
	position: absolute;
	top: -14px;
	margin-left: -12px;
	cursor: pointer;
}
.category-params-item-price-range .ui-slider-handle span {
	position: absolute;
	bottom: -18px;
	left: 50%;
	width: 50px;
	text-align: center;
	font-size: 10px;
	margin-left: -25px;
	font-weight: 500;
	color: #94a6aa;
}

.form__info {
	position: absolute;
	width: 60px;
	height: 60px;
	right: 0;
	top: 0;
	line-height: 60px;
	text-align: center;
	color: #888;
	z-index: 2;
	font-size: 14px;
}
@media (max-width: 767.98px) {
	.form__info {
		width: 50px;
		height: 50px;
		line-height: 50px;
	}
}

.form-range-line {
	position: relative;
	height: 5px;
	border-radius: 0 0 4px 4px;
	background-color: #e0e0e0;
	margin: -2px 0px 0px 0px;
}
.form-range-line .ui-slider-range {
	background-color: #093454;
	height: 5px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 0 0 4px 4px;
}
.form-range-line .ui-slider-handle {
	background: url("../img/icons/range.svg") 0 0 no-repeat;
	width: 28px;
	height: 28px;
	position: absolute;
	margin: -9px 0px 0px -14px;
	top: 0;
	left: 0;
	cursor: pointer;
}
.form-range-line .ui-state-hover {
	background: url("../img/icons/range_a.svg") 0 0 no-repeat;
}

.form-range-values {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 14px 0px 0px 0px;
}

.form-range-values__item {
	font-size: 12px;
	color: #888;
}

.row:after {
	display: block;
	content: "";
	clear: both;
}

.rub:after {
	content: "₽";
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

ol.counter {
	list-style-type: none;
	counter-reset: item;
}
ol.counter li {
	position: relative;
	padding: 0px 0px 0px 45px;
}
ol.counter li:before {
	counter-increment: item;
	content: counter(item);
	position: absolute;
	left: 0;
	top: 0;
	color: #818181;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	line-height: 26px;
	border-radius: 50%;
	width: 28px;
	height: 28px;
	border: 1px solid #4274bb;
}

.ellipsis {
	display: block;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}

.es {
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}

.table {
	display: table;
	font-size: 0;
	width: 100%;
}

.trow {
	display: table-row;
}

.cell {
	display: table-cell;
}
.cell.full {
	width: 100%;
}

.ibg {
	position: relative;
}
.ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-o-object-fit: cover;
	   object-fit: cover;
}

body.ie .ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
body.ie .ibg img {
	width: 0;
	height: 0;
	opacity: 0;
	visibility: hidden;
}

.video {
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 56.25%;
}
.video video,
.video iframe,
.video object,
.video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-webkit-transform: translateX(-50%) translateY(-50%);
	    -ms-transform: translateX(-50%) translateY(-50%);
	        transform: translateX(-50%) translateY(-50%);
	background-size: cover;
}

.moretext {
	overflow: hidden;
}

.moretext__more {
	cursor: pointer;
}
.moretext__more span {
	font-style: normal;
}
.moretext__more span:first-child {
	display: block;
}
.moretext__more span:last-child {
	display: none;
}
.moretext__more.active span {
	font-style: normal;
}
.moretext__more.active span:first-child {
	display: none;
}
.moretext__more.active span:last-child {
	display: block;
}

.graystyle {
	-webkit-transition: all 0.8s ease 0s;
	-o-transition: all 0.8s ease 0s;
	transition: all 0.8s ease 0s;
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
}

.graystyleoff {
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
}

.slick-slider {
	position: relative;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.slick-slider .slick-list {
	position: relative;
	overflow: hidden;
	width: 100%;
}
.slick-slider .slick-track {
	position: relative;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
}
.slick-slider .slick-slide {
	position: relative;
}
.tab__item {
	display: none;
}
.tab__item.active {
	display: block;
}

.mirror {
	-webkit-transform: scale(-1, 1);
	    -ms-transform: scale(-1, 1);
	        transform: scale(-1, 1);
}

.nicescroll-rails {
	z-index: 1000 !important;
}

.gm-style-iw-t {
	opacity: 0;
}

.baloon {
	opacity: 1;
	right: -7px !important;
	bottom: 80px !important;
}
.baloon button {
	display: none !important;
}
.baloon:after {
	display: none !important;
}

.baloon-style {
	display: none;
}

.baloon-content.gm-style-iw {
	opacity: 1;
	border-radius: 0px !important;
	max-width: 300px !important;
	padding: 0 !important;
	left: 0 !important;
	width: 100% !important;
	overflow: visible !important;
}
.baloon-content.gm-style-iw > .gm-style-iw-d {
	overflow: hidden !important;
	max-width: none !important;
}
.baloon-content.gm-style-iw:after {
	display: none !important;
}

.baloon-close {
	top: 18px !important;
}

.popup {
	-webkit-overflow-scrolling: touch;
	background-color: rgba(0, 0, 0, 0.8);
	display: none;
	position: fixed !important;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	z-index: 100;
}
.popup.active .popup-content {
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}
.popup.show {
	display: block;
}
.popup.show .popup-content {
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}

.popup-table {
	height: 100%;
	table-layout: fixed;
}
.popup-table > .cell {
	height: 100%;
	vertical-align: middle;
	padding: 30px 10px;
}

.popup-content {
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	position: relative;
	max-width: 1230px;
	margin: 0px auto;
	background-color: #fff;
}

.popup-close {
	width: 15px;
	height: 15px;
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
	background: url("../img/icons/close.png") 0 0 no-repeat;
}

.popup-video .popup-close {
	width: 40px;
	height: 40px;
	background-color: #000;
	top: 0;
	right: 0;
}

.header {
	padding: 40px 60px;
	position: absolute;
	z-index: 50;
	width: 100%;
	height: 45px;
	top: 0;
	left: 0;
}
@media (max-width: 450px) {
	.header {
		padding: 20px 10px;
	}
}
.header__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 45px;
}
.header__logo {
	display: inline-block;
	position: relative;
	z-index: 50;
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 185px;
	        flex: 0 1 185px;
}
.header__logo img {
	max-width: 100%;
}
@media (max-width: 1100px) {
	.header__logo {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 135px;
		        flex: 0 1 135px;
	}
}
.header__menu {
	height: 100%;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
	margin: 0px 79px 0px 0px;
}
@media (max-width: 1100px) {
	.header__menu {
		margin: 0px 30px 0px 0px;
	}
}
.header__search {
	position: relative;
	z-index: 50;
	height: 100%;
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 30px;
	        flex: 0 0 30px;
	background: url("../img/header/Search.png") center/contain no-repeat;
}
@media (max-width: 1100px) {
	.header__search {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 20px;
		        flex: 0 0 20px;
	}
}

.menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}
.menu__body {
	height: 100%;
}
@media (max-width: 850px) {
	.menu__body {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: #303030;
		overflow: auto;
		transform: translate3d(0px, -110%, 0px);
		-webkit-transform: translate3d(0px, -110%, 0px);
		-ms-transform: translate3d(0px, -110%, 0px);
		-o-transform: translate3d(0px, -110%, 0px);
		-moz-transform: translate3d(0px, -110%, 0px);
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
	}
	.menu__body.active {
		transform: translate3d(0px, 0px, 0px);
		-webkit-transform: translate3d(0px, 0px, 0px);
		-ms-transform: translate3d(0px, 0px, 0px);
		-o-transform: translate3d(0px, 0px, 0px);
		-moz-transform: translate3d(0px, 0px, 0px);
	}
}
.menu__list {
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-transition: all 0.8s ease 0s;
	-o-transition: all 0.8s ease 0s;
	transition: all 0.8s ease 0s;
}
@media (max-width: 850px) {
	.menu__list {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
}
.menu__list li {
	-webkit-transition: all 0.8s ease 0s;
	-o-transition: all 0.8s ease 0s;
	transition: all 0.8s ease 0s;
	margin: 0px 35px 0px 0px;
}
.menu__list li:last-child {
	margin: 0px 0px 0px 0px;
}
@media (max-width: 850px) {
	.menu__list li {
		margin: 0px 0px 0px 0px;
		margin-bottom: 20px;
	}
}
.menu__link {
	position: relative;
	display: inline-block;
	color: #ffffff;
	font-family: inherit;
	font-size: 25px;
	font-weight: 400;
	line-height: 45px;
}
@media (max-width: 1100px) {
	.menu__link {
		font-size: 18px;
	}
}
@media (max-width: 850px) {
	.menu__link {
		font-size: 30px;
	}
}
.menu__link::after {
	content: "";
	position: absolute;
	width: 0;
	height: 2px;
	left: 50%;
	transform: translate3d(-50%, 0px, 0px);
	-webkit-transform: translate3d(-50%, 0px, 0px);
	-ms-transform: translate3d(-50%, 0px, 0px);
	-o-transform: translate3d(-50%, 0px, 0px);
	-moz-transform: translate3d(-50%, 0px, 0px);
	bottom: 0;
	background-color: #ffc200;
}
.menu__link:hover {
	color: #ffc200;
}
.menu__link:hover::after {
	width: 100%;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

@media (max-width: 850px) {
	.icon-menu {
		position: relative;
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 30px;
		        flex: 0 0 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
	}
	.icon-menu span {
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		top: 8px;
		left: 0px;
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #fff;
	}
	.icon-menu span:first-child {
		top: 0px;
	}
	.icon-menu span:last-child {
		top: auto;
		bottom: 0px;
	}
	.icon-menu.active span {
		-ms-transform: scale(0);
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	.icon-menu.active span:first-child {
		-ms-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		top: 8px;
	}
	.icon-menu.active span:last-child {
		-ms-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		bottom: 8px;
	}
}
.fullscreen__footer {
	background-color: #303030;
}

.footer__row {
	padding: 20px 90px;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
@media (max-width: 800px) {
	.footer__row {
		padding: 20px 20px;
	}
}
.footer__body {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
}
@media (max-width: 1100px) {
	.footer__body {
		display: block;
		text-align: center;
	}
}
.footer__column {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 50%;
	        flex: 1 1 50%;
	margin-bottom: 20px;
}
.footer__column:last-child {
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 50%;
	        flex: 1 0 50%;
}
.footer__title {
	margin-bottom: 38px;
}
.footer__text {
	margin-bottom: 35px;
	max-width: 455px;
}
@media (max-width: 1100px) {
	.footer__text {
		max-width: none;
	}
}
@media (max-width: 1100px) {
	.footer__social {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		font-size: 0;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
}
.social__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
}
.social__list li {
	margin: 0px 15px 0px 0px;
	width: 42px;
	height: 42px;
}
.social__link {
	display: inline-block;
	height: 100%;
	width: 100%;
}
.social__link_1 {
	background: url("../img/footer/01.png") 0 0 no-repeat;
}
.social__link_2 {
	background: url("../img/footer/02.png") 0 0 no-repeat;
}
.social__link_3 {
	background: url("../img/footer/03.png") 0 0 no-repeat;
}
.social__link_4 {
	background: url("../img/footer/04.png") 0 0 no-repeat;
}

.items {
	text-align: left;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}
@media (max-width: 1100px) {
	.items {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
}
@media (max-width: 620px) {
	.items {
		display: block;
	}
}
.items__column {
	margin: 0px 0px 0px 50px;
}
.items__column:first-child {
	margin: 0px 0px 0px 0px;
}
@media (max-width: 620px) {
	.items__column {
		margin: 0px 0px 0px 0px;
	}
	.items__column.active .items__list {
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		opacity: 1;
		visibility: visible;
		display: block;
	}
	.items__column.active .items__title::before {
		-ms-transform: rotate(-130deg);
		-webkit-transform: rotate(-130deg);
		transform: rotate(-130deg);
		top: 25px;
		right: 25px;
	}
	.items__column.active .items__title::after {
		-ms-transform: rotate(130deg);
		-webkit-transform: rotate(130deg);
		transform: rotate(130deg);
		top: 25px;
	}
}
.items__title {
	margin-bottom: 38px;
}
@media (max-width: 620px) {
	.items__title {
		position: relative;
		border-bottom: 2px solid #fff;
		margin: 0px 0px 0px 0px;
		line-height: 50px;
	}
	.items__title_r {
		border-top: 2px solid #fff;
	}
	.items__title::before, .items__title::after {
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		position: absolute;
		content: "";
		width: 10px;
		height: 2px;
		background-color: #fff;
		right: 20px;
		top: 25px;
		transform: translate3d(0px, -50%, 0px);
		-webkit-transform: translate3d(0px, -50%, 0px);
		-ms-transform: translate3d(0px, -50%, 0px);
		-o-transform: translate3d(0px, -50%, 0px);
		-moz-transform: translate3d(0px, -50%, 0px);
	}
	.items__title::before {
		-ms-transform: rotate(-40deg);
		-webkit-transform: rotate(-40deg);
		transform: rotate(-40deg);
		top: 30px;
	}
	.items__title::after {
		-ms-transform: rotate(40deg);
		-webkit-transform: rotate(40deg);
		transform: rotate(40deg);
	}
}
.items__list li {
	margin-bottom: 18px;
}
@media (max-width: 620px) {
	.items__list li {
		margin: 18px 0px 18px 0px;
		border-bottom: 1px solid #fff;
	}
}
@media (max-width: 620px) {
	.items__list {
		opacity: 0;
		visibility: hidden;
		display: none;
	}
}
.items__link {
	white-space: nowrap;
}
.items__link:hover {
	text-decoration: underline;
}

.title {
	color: #ffffff;
	font-family: inherit;
	font-size: 25px;
	font-weight: 700;
	text-transform: uppercase;
}
@media (max-width: 1400px) {
	.title {
		font-size: 20px;
	}
}

.text_f {
	color: #ffffff;
	font-family: inherit;
	font-size: 24px;
	line-height: 30px;
}
@media (max-width: 1400px) {
	.text_f {
		font-size: 18px;
	}
}

.fullscreen {
	position: relative;
	min-height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
}
.fullscreen__body {
	background-color: #303030;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
}
.fullscreen__img {
	position: relative;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 40%;
	        flex: 1 1 40%;
}
@media (max-width: 1030px) {
	.fullscreen__img {
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 100%;
		        flex: 1 1 100%;
	}
}
.fullscreen__img img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-o-object-fit: cover;
	   object-fit: cover;
}
.fullscreen__content {
	position: relative;
	z-index: 10;
	padding: 0px 20px 0px 54px;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 60%;
	        flex: 1 1 60%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
@media (max-width: 1030px) {
	.fullscreen__content {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		text-align: center;
	}
}
@media (max-width: 600px) {
	.fullscreen__content {
		padding: 20px 20px;
	}
}
.fullscreen__content::before {
	content: "";
	position: absolute;
	background: url("../img/fullscreen/bg.png") 0 0/cover no-repeat;
	width: 50%;
	height: 110%;
	bottom: 0%;
	left: -17%;
	z-index: -2;
}
@media (max-width: 1480px) {
	.fullscreen__content::before {
		left: -20%;
	}
}
@media (max-width: 1230px) {
	.fullscreen__content::before {
		left: -25%;
	}
}
@media (max-width: 1030px) {
	.fullscreen__content::before {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: #303030;
		opacity: 0.6;
	}
}
.fullscreen__title {
	color: #ffc200;
	font-family: "Conv";
	font-size: 125px;
	margin-bottom: 50px;
}
@media (max-width: 1230px) {
	.fullscreen__title {
		font-size: 100px;
		margin-bottom: 20px;
	}
}
@media (max-width: 560px) {
	.fullscreen__title {
		font-size: 70px;
	}
}
.fullscreen__text {
	color: #ffffff;
	font-family: inherit;
	font-size: 30px;
	font-weight: 400;
	margin-bottom: 45px;
	max-width: 610px;
}
@media (max-width: 1230px) {
	.fullscreen__text {
		font-size: 20px;
	}
}
@media (max-width: 560px) {
	.fullscreen__text {
		font-size: 16px;
	}
}
.fullscreen__btn {
	-ms-flex-item-align: start;
	    align-self: flex-start;
}
@media (max-width: 1030px) {
	.fullscreen__btn {
		-ms-flex-item-align: center;
		    -ms-grid-row-align: center;
		    align-self: center;
	}
}
.fullscreen__icons {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
@media (max-width: 825px) {
	.fullscreen__icons {
		display: none;
	}
}

.icons__pos {
	position: absolute;
}
.icons__circle {
	background: url("../../img/fullscreen/icons/circle.svg") 0 0px no-repeat;
	width: 34px;
	height: 37px;
	top: 10%;
}
@media (max-width: 1030px) {
	.icons__circle {
		left: 10%;
	}
}
.icons__circle_1 {
	background: url("../../img/fullscreen/icons/circle.svg") 0 0px no-repeat;
	width: 34px;
	height: 37px;
	bottom: 18%;
}
@media (max-width: 1030px) {
	.icons__circle_1 {
		left: 10%;
	}
}
.icons__circle_2 {
	background: url("../../img/fullscreen/icons/circle.svg") 0 0px no-repeat;
	width: 34px;
	height: 37px;
	top: 20%;
	right: 30%;
}
@media (max-width: 1030px) {
	.icons__circle_2 {
		right: 10%;
	}
}
.icons__circle_3 {
	background: url("../../img/fullscreen/icons/circle.svg") 0 0px no-repeat;
	width: 34px;
	height: 37px;
	bottom: 10%;
	right: 50%;
}
@media (max-width: 1030px) {
	.icons__circle_3 {
		right: 15%;
	}
}
.icons__list {
	background: url("../img/fullscreen/icons/list.svg") 0 0 no-repeat;
	width: 91px;
	height: 123px;
	top: 35%;
	left: -10%;
}
@media (max-width: 1030px) {
	.icons__list {
		left: 8%;
		top: 25%;
	}
}
.icons__tomato {
	background: url("../img/fullscreen/icons/tomato.svg") 0 0 no-repeat;
	width: 115px;
	height: 108px;
	bottom: 10%;
	left: 20%;
}
@media (max-width: 1030px) {
	.icons__tomato {
		left: 30%;
	}
}
.icons__pepper {
	background: url("../img/fullscreen/icons/pepper.svg") 0 0 no-repeat;
	width: 106px;
	height: 105px;
	top: 18%;
	right: 50%;
}
@media (max-width: 1030px) {
	.icons__pepper {
		top: 15%;
	}
}
.icons__onion {
	background: url("../img/fullscreen/icons/onion.svg") 0 0 no-repeat;
	width: 80px;
	height: 104px;
	right: 30%;
	bottom: 30%;
}
@media (max-width: 1030px) {
	.icons__onion {
		right: 20%;
	}
}
.icons__nan {
	background: url("../img/fullscreen/icons/nan.svg") 0 0 no-repeat;
	width: 17px;
	height: 26px;
	bottom: 8%;
	right: 37%;
}

.button {
	padding: 0px 75px;
	background-color: #ffc200;
	height: 65px;
	line-height: 65px;
	color: #333333;
	font-family: inherit;
	font-size: 25px;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 4px;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
@media (max-width: 1300px) {
	.button {
		font-size: 20px;
		height: 50px;
		line-height: 50px;
		padding: 0px 50px;
	}
}
.button:hover {
	background-color: #977918;
}
.button_s {
	font-size: 19px;
	padding: 0px 56px;
}
@media (max-width: 1230px) {
	.button_s {
		font-size: 16px;
		padding: 0px 40px;
	}
}

.bestseller {
	padding: 130px 0px;
	text-align: center;
}
@media (max-width: 800px) {
	.bestseller {
		padding: 50px 0;
	}
}
.bestseller__title {
	color: #333333;
	font-family: "Conv";
	font-size: 75px;
	margin-bottom: 47px;
}
@media (max-width: 510px) {
	.bestseller__title {
		font-size: 50px;
		margin-bottom: 30px;
	}
}
.bestseller__text {
	color: #333333;
	font-family: inherit;
	font-size: 25px;
	max-width: 892px;
	padding: 0px 15px;
	margin: 0px auto 78px;
}
@media (max-width: 510px) {
	.bestseller__text {
		font-size: 20px;
		margin: 0px auto 28px;
	}
}
.bestseller__row {
	max-width: 1200px;
	margin: 10px auto 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.bestseller__column {
	padding: 0px 10px;
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 33.333%;
	        flex: 0 1 33.333%;
	margin: 0px 0px 20px 0px;
}
.bestseller__column:last-child {
	margin: 0px 0px 0px 0px;
}
.bestseller__item {
	height: 100%;
}

.item-bestseller {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.item-bestseller__logo {
	display: inline-block;
	width: 239px;
	height: 238px;
	border-radius: 50%;
	overflow: hidden;
	margin: 0px auto 15px;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.item-bestseller__logo:hover img {
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	        transform: scale(1.1);
	-webkit-filter: grayscale(0);
	        filter: grayscale(0);
}
.item-bestseller__logo img {
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	max-width: 100%;
	-webkit-filter: grayscale(50);
	        filter: grayscale(50);
}
.item-bestseller__title {
	color: #333333;
	font-family: "Conv";
	font-size: 42px;
	margin-bottom: 25px;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
}
.item-bestseller__text {
	color: #333333;
	font-family: inherit;
	font-size: 17px;
	font-weight: 400;
}

.taste {
	padding: 160px 0px 0px 0px;
}
@media (max-width: 1300px) {
	.taste {
		padding: 50px 0px 0px 0px;
	}
}
.taste__item {
	padding: 70px 0px 0px 0px;
}

.item-menu {
	position: relative;
	background: url("../img/taste/bg.png") top/115% no-repeat;
}
.item-menu_r {
	background: url("../img/grill/bg.png") bottom/115% no-repeat;
}
.item-menu_r::after {
	top: 0;
}
.item-menu::after {
	content: "";
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 30%;
	bottom: 0;
	left: 0;
	background-color: #303030;
}
@media (max-width: 1000px) {
	.item-menu::after {
		height: 60%;
	}
}
@media (max-width: 400px) {
	.item-menu::after {
		height: 70%;
	}
}
.item-menu__row {
	padding: 80px 15px 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	max-width: 1230px;
	margin: 0px auto;
}
.item-menu__row_r {
	padding: 30px 15px 80px;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	    -ms-flex-direction: row-reverse;
	        flex-direction: row-reverse;
}
@media (max-width: 820px) {
	.item-menu__row {
		padding: 0px 15px 30px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		text-align: center;
	}
}
.item-menu__img {
	position: relative;
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 38.7%;
	        flex: 0 0 38.7%;
	width: 38.7%;
	border-radius: 50%;
	overflow: hidden;
	padding: 0px 0px 38.8% 0px;
	margin: 0px 160px 0px 0px;
	-ms-flex-item-align: start;
	    align-self: flex-start;
}
.item-menu__img_r {
	margin: 0px 0px 0px 0px;
}
@media (max-width: 1300px) {
	.item-menu__img {
		margin: 0px 50px 0px 0px;
	}
	.item-menu__img_r {
		margin: 0px 0px 0px 0px;
	}
}
@media (max-width: 820px) {
	.item-menu__img {
		-ms-flex-item-align: center;
		    -ms-grid-row-align: center;
		    align-self: center;
		margin: 0px 0px 20px 0px;
		width: 60%;
		padding: 0px 0px 60% 0px;
	}
	.item-menu__img_r {
		margin: 0px 0px 20px 0px;
	}
}
.item-menu__img img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-o-object-fit: cover;
	   object-fit: cover;
}
.item-menu__body {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.item-menu__body_r {
	margin: 0px 160px 0px 0px;
}
@media (max-width: 1300px) {
	.item-menu__body_r {
		margin: 0px 50px 0px 0px;
	}
}
@media (max-width: 820px) {
	.item-menu__body_r {
		margin: 0px 20px 0px 0px;
	}
}
.item-menu__title {
	color: #ffc200;
	font-family: "Conv";
	font-size: 100px;
	font-weight: 400;
	margin-bottom: 50px;
}
@media (max-width: 1300px) {
	.item-menu__title {
		font-size: 80px;
		margin-bottom: 30px;
	}
}
@media (max-width: 500px) {
	.item-menu__title {
		font-size: 60px;
	}
}
.item-menu__text {
	color: #ffffff;
	font-family: inherit;
	font-size: 25px;
	font-weight: 400;
	margin-bottom: 88px;
}
@media (max-width: 1300px) {
	.item-menu__text {
		font-size: 20px;
		margin-bottom: 30px;
	}
}
@media (max-width: 500px) {
	.item-menu__text {
		font-size: 16px;
	}
}
.item-menu__btn {
	-ms-flex-item-align: start;
	    align-self: flex-start;
}
@media (max-width: 820px) {
	.item-menu__btn {
		-ms-flex-item-align: center;
		    -ms-grid-row-align: center;
		    align-self: center;
	}
}

.stat {
	position: relative;
	background-color: #303030;
	padding: 70px 0 190px;
	text-align: center;
}
@media (max-width: 1000px) {
	.stat {
		padding: 30px;
	}
}
.stat__title {
	color: #ffc200;
	font-family: "Conv";
	font-size: 100px;
	margin-bottom: 45px;
}
@media (max-width: 1300px) {
	.stat__title {
		font-size: 80px;
		margin-bottom: 30px;
	}
}
@media (max-width: 500px) {
	.stat__title {
		font-size: 60px;
	}
}
.stat__text {
	color: #ffffff;
	font-family: inherit;
	font-size: 25px;
	max-width: 800px;
	margin: 0px auto 100px;
}
@media (max-width: 1300px) {
	.stat__text {
		font-size: 20px;
		margin-bottom: 30px;
	}
}
@media (max-width: 500px) {
	.stat__text {
		font-size: 16px;
	}
}
.stat__body {
	max-width: 1200px;
	margin: 0px auto;
}
.stat__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 0px 15px;
	margin: 0px -25px;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.stat__column {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 25%;
	        flex: 0 0 25%;
	height: 233px;
	padding: 0px 25px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-bottom: 20px;
}
@media (max-width: 1024px) {
	.stat__column {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 50%;
		        flex: 0 0 50%;
	}
}
.stat__item {
	width: 233px;
	border-radius: 50%;
	border: 5px solid #ffffff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 100%;
}
.stat__number {
	color: #ffc200;
	font-family: inherit;
	font-size: 51px;
	font-weight: 700;
	margin-bottom: 24px;
}
.stat__stat {
	color: #ffffff;
	font-family: inherit;
	font-size: 29px;
	font-weight: 700;
	text-transform: uppercase;
}
.stat__bg {
	position: absolute;
	height: 123px;
	width: 123px;
	opacity: 0.5;
}
@media (max-width: 1120px) {
	.stat__bg {
		display: none;
	}
}
.stat__bg_1 {
	background: url("../img/fullscreen/icons/circle.svg") center no-repeat;
	top: 2%;
	left: 30%;
}
.stat__bg_2 {
	background: url("../img/fullscreen/icons/circle.svg") center no-repeat;
	top: 25%;
	right: 12%;
}
.stat__bg_3 {
	background: url("../img/fullscreen/icons/circle.svg") center no-repeat;
	bottom: 0;
	left: 6%;
}
.stat__bg_4 {
	background: url("../img/fullscreen/icons/pepper.svg") center no-repeat;
	top: 5%;
	right: 22%;
}
.stat__bg_5 {
	background: url("../img/fullscreen/icons/pepper.svg") center no-repeat;
	bottom: 10%;
	left: 32%;
}
.stat__bg_6 {
	background: url("../img/fullscreen/icons/list.svg") center no-repeat;
	top: 15%;
	left: 10%;
}
.stat__bg_7 {
	background: url("../img/fullscreen/icons/onion.svg") center no-repeat;
	bottom: 30%;
	right: 10%;
}
@media (max-width: 1750px) {
	.stat__bg_7 {
		right: 3%;
		bottom: 50%;
	}
}
@media (max-width: 1300px) {
	.stat__bg_7 {
		bottom: 60%;
	}
}
.stat__bg_8 {
	background: url("../img/fullscreen/icons/tomato.svg") center no-repeat;
	bottom: 5%;
	right: 37%;
}
.stat__bg_9 {
	background: url("../img/fullscreen/icons/nan.svg") center no-repeat;
	bottom: 7%;
	right: 15%;
}

.grill {
	padding: 0px 0px 160px 0px;
}
@media (max-width: 850px) {
	.grill {
		padding: 0px 0px 60px 0px;
	}
}
.grill__item {
	padding: 100px 0px 50px 0px;
}
@media (max-width: 850px) {
	.grill__item {
		padding: 15px 0px 80px 0px;
	}
}

.fullscreen__bg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-o-object-fit: cover;
	   object-fit: cover;
	z-index: -1;
}
.fullscreen_s {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
}
.fullscreen__texting {
	background-color: rgba(255, 194, 0, 0.8);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-align: center;
}

.text__text {
	color: #333333;
	font-family: inherit;
	font-size: 45px;
	max-width: 915px;
	margin: 0px auto 50px;
	padding: 0px 15px;
}
@media (max-width: 600px) {
	.text__text {
		font-size: 36px;
	}
}
.text__title {
	color: #333333;
	font-family: "Conv";
	font-size: 74px;
	font-weight: 400;
}
@media (max-width: 600px) {
	.text__title {
		font-size: 60px;
	}
}

.fullscreen__subscribe {
	padding: 20px 0;
	position: relative;
	background-color: #f4f4f4;
}

.subscribe {
	text-align: center;
}
.subscribe__body {
	padding: 0px 15px;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
@media (max-width: 700px) {
	.subscribe__body {
		padding: 0px 0px 0px 0px;
	}
}
.subscribe__title {
	color: #333333;
	font-family: "Conv";
	font-size: 100px;
	margin-bottom: 55px;
}
@media (max-width: 700px) {
	.subscribe__title {
		font-size: 60px;
		margin-bottom: 30px;
	}
}
.subscribe__text {
	color: #333333;
	font-family: inherit;
	font-size: 30px;
	font-weight: 400;
	margin-bottom: 84px;
	max-width: 827px;
}
@media (max-width: 700px) {
	.subscribe__text {
		font-size: 26px;
		margin-bottom: 30px;
	}
}
.subscribe__items {
	max-width: 830px;
	padding: 0px 15px;
}
.subscribe__form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	padding: 0px 15px;
}
@media (max-width: 700px) {
	.subscribe__form {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
}
.subscribe__inp {
	height: 63px;
	background-color: #fff;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
	margin-bottom: 20px;
}
.subscribe__btn {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 222px;
	        flex: 0 0 222px;
	height: 63px;
}
@media (max-width: 700px) {
	.subscribe__btn {
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 auto;
		        flex: 1 1 auto;
	}
}

.inp {
	width: 100%;
	color: #939393;
	font-family: inherit;
	font-size: 25px;
	font-weight: 400;
	line-height: 63px;
	padding: 0px 0px 0px 30px;
}

.btn {
	background-color: #ffc200;
	color: #333333;
	font-family: inherit;
	font-size: 25px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 63px;
	padding: 0px 36px;
}
@media (max-width: 700px) {
	.btn {
		padding: 0px 0px 0px 0px;
		width: 100%;
	}
}